*{
    box-sizing: border-box;
}
body {
    Background-color: blue;
    font-family: 'Abel', sans-serif;
}

#container {
    width: 90%;
    background-color: white; 
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Anton', sans-serif;
    Margin: 0;
}

h1 {
    float: left;
    padding-left: 1em;
    padding-top: .7em;
}

#search {
    float: left;
    padding: 1.55em;
}

#search input {
    padding: 0.25em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

#navigation {
    background-color: red;
    
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 10px 20px;
    border-right: 2px solid black;
}

#navigation li:hover{
    background-color: white;
    cursor: pointer; 
}

#promotions {
    Background-color: grey
}

#promotions span {
    float: left;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

#promotions .arrow {
    width: 5%;
    background-color: white;
    font-size: 2em;
    padding: 0;
}

.promo {
    width: 90%;
}

main {
    background-color: blue;
    width: 100%;
    min-height: 350px;
}

main{
    background-color: red;
}
main > aside {
    float:left;
    width:20%;
    background-color: white;
}

main > section {
    width: 80%; 
    float: left;
    padding: 20px;
    background-color: blue;
}

aside select {
    width: 100%;
}

aside hr {
    border: none;
    margin: 0;
    padding: 0;
}
 
#product-listings {
    list-style: none;
    margin: 0;
    padding: 0;
}
.product {
    width: 30%;
    background: white;
    color: black;
    float: left;
    margin: 0 20px 20px 0;
}

.product img {
    width: 90%;
    margin:10px auto;
    display: block;
}

.product h4, .product p, .product a {
    margin:0; 
    text-align: center;
    display: block;
}

footer {
    background-color: white;
    text-align: center;
}

footer p {
   padding: 10px;
   margin: 0;
}

